<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/js/main.js"></script>
    <title>DT207G - Laboration 1
    </title>
</head>

<body>
    <div class="container">
        <%- include("partials/header") %>
            <main>
                <h1>Startsida</h1>
                <p>Lite text här om sidan</p>
                <div class="my-courses">
                    <table id="stored-courses">
                        <thead>
                            <tr>
                                <th id="courseCode">Kurskod</th>
                                <th id="courseName">Kursnamn</th>
                                <th id="courseProg">Progression</th>
                                <th id="courseSyll">Kursplan</th>
                                <th id="remove-course">Ta bort</th>
                            </tr>
                        </thead>
                        <tbody id="table-data">
                            <% courses.forEach(d=> { %>
                                <tr id="<%= d.course_code %>">
                                    <td>
                                        <%= d.course_code %>
                                    </td>
                                    <td>
                                        <%= d.course_name %>
                                    </td>
                                    <td>
                                        <%= d.course_progression %>
                                    </td>
                                    <td>
                                        <a href="<%= d.course_syllabus %>">Kursplan</a>
                                    </td>
                                    <td class="remove"><a class="remove-link" href="/delete?courseid=<%= d.id %>">X</a>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </main>
            <footer>
                <p>Skapad av Hanna Lindkvist, 2026</p>
            </footer>
    </div> <!--Container slut-->
</body>

</html>